body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", serif;
    padding: 24px;
    box-sizing: border-box;
    min-width: 670px;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 54px;
    width: 100%;
    margin: 0px;
    color: #494949;
}

label { /* input labels */
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #3468EC;
    margin: 0px;
    display: block;
}

p, input, select {
    font-size: 16px;
    font-weight: 400;
}

p {
    line-height: 19px;
    color: #494949;
    margin: 0px;
}

form {
    width: 100%;
    position: relative;
    top: -8px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

select {
    position: relative;
    appearance: none;
    min-width: 120px;
    background-image: url('./images/caret.svg');
    background-repeat: no-repeat;
    background-position-x: 92px;
    background-position-y: center;
}

input, select {
    padding: 8px;
    border: thin solid gray;
    border-radius: 2px;
}

input[type=text], input[type=number], select {
    margin: 0px 8px 8px 0px;
}

.General, .Education, .Practical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DateRange {
    margin-bottom: 8px;
}

.Save, .Edit {
    width: fit-content;
    position: relative;
    bottom: 24px;
}

.Save input[type=button] {
    width: 73px;
    height: 40px;
    background: #3468EC;
    border: 1px solid #3468EC;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
}

.Edit input[type=button] {
    width: 73px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    color: #3468EC;
}

input[type=textarea] {
    width: 500px;
    height: 250px;
}

input[type=textarea]::placeholder {
    position: relative;
    top: -112px;
}

.container {
    background: #F7F7F8;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px; 
    margin-bottom: 48px;
    padding: 10px 16px;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.italic {
    font-style: italic;
    margin-top: 4px;
}

.editable, .notEditable {
    margin-bottom: 16px
}

.month {
    margin: 0px 4px 0px 0px;
}

.arrow {
    position: relative;
    top: 2px;
    background-image: url('./images/arrow.svg');
    background-repeat: no-repeat;
    width: 26px;
    height: 16px;
    display: inline-block;
    margin: 0px 21px 0px 23px;
}

.currentCheck {
    margin: 0px 8px 0px 24px;
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
}