body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", serif;
    padding: 24px;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 21px;
    width: 100%;
    margin: 0px;
    color: #494949;
}

h4 { /* input labels */
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #3468EC;
}

p, input {
    font-size: 16px;
    font-weight: 400;
}

p {
    line-height: 19px;
    color: #494949;
}

form {
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    margin: 8px;
    padding: 4px;
    border: thin solid gray;
    border-radius: 2px;
}

.General, .Education, .Practical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Save, .Edit {
    width: fit-content;
    position: relative;
    bottom: 14px;
}

.Save input[type=button] {
    width: 73px;
    height: 40px;
    background: #3468EC;
    border: 1px solid #3468EC;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
}

.Edit input[type=button] {
    width: 73px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    color: #3468EC;
}

.container {
    background: #F7F7F8;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px; 
    margin-bottom: 48px;
}

.block {
    display: block;
}

.inline {
    display: inline;
    margin: 8px 0px 8px 8px;
}

.editable {
   /* add styles if needed */
}

.notEditable {
    /* add styles if needed */
}